@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Books";
    //Dont put your properties here, put them in the controller and render these properties using viewbag 
}

<h1>@ViewBag.SeriesTitle</h1>
<h2>Issue #@ViewBag.IssueNumber</h2>

<h3>Description:</h3>
<div>@Html.Raw(ViewBag.Description)</div>


@if (ViewBag.Artist.Length > 0)
{
    <h3>Artist:</h3>
    <div>
        <ul>
            @foreach (var item in ViewBag.Artist)
            {
                <li>@item</li>
            }
        </ul>
    </div>
}
