@{
    Layout = null;
    //Dont put your properties here, put them in the controller and render these properties using viewbag 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.SeriesTitle</h1>
        <h2>Issue #@ViewBag.IssueNumber</h2>

        <h3>Description:</h3>
        <div>@Html.Raw(ViewBag.Description)</div>


        @if (ViewBag.Artist.Length > 0)
        {
            <h3>Artist:</h3>
            <div>
                <ul>
                    @foreach (var item in ViewBag.Artist)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
        }
        
    </div>
</body>
</html>
